@import url(~sanitize.css/sanitize.css);
#main {
    padding: 20px;
}

.hybridEditor {
    display: flex;
    width: 900px;
    border: 1px solid #000000;
}

.textEditor {
    position: relative;
    width: 450px;
    height: 500px;
}

.visualEditor {
    width: 450px;
    border-left: 1px solid #000000;
}

.circle {
    cursor: pointer;
}